// Import all of Bootstrap's CSS
@use "/node_modules/bootstrap/scss/bootstrap";


.router-link-active {
    color: rgba(51, 200, 200, 0.874) !important;

}

header {
    background-color: rgba(15, 15, 15, 0.916) !important;

    & img{
        height: 50px;
        transition-property: all;
        transition-duration: .2s;
    }

    & .logo_link{
        transition-property: all;
        transition-duration: .2s;
        filter: grayscale(1);
    }

    & .logo_link:hover{
        filter: none;
    }

    .header_link {
        border-radius: .5rem;
        transition-property: all;
        transition-duration: .4s;
    }

    & .header_link:hover {
        background-color: rgba(40, 40, 40, 0.97) !important;
    }

    & .center_group{
        justify-self: center;
    }

    & .logo_group{
        justify-self: start;
    }
}

.text_color {
    color: rgba(142, 242, 242, 0.874);
}

body {
    background-color: rgba(0, 0, 0, 0.717);
    color: rgba(142, 242, 242, 0.874);

    & .card_bg {
        background-color: rgba(0, 0, 0, 0.644);
    }

    & .card_hover {
        transition-property: all;
        transition-duration: .3s;
    }

    & .card_hover:hover {
        background-color: rgba(0, 0, 0, 0.47);
        color: rgba(150, 255, 255, 0.874);
        scale: 1.06;
        /* padding: .3rem!important; */
        border-radius: .75rem;
    }

    & .cacao_form::placeholder {
        color: rgba(181, 176, 176, 0.56);
        text-transform: uppercase;
    }

    & .cacao_form {
        transition-property: all;
        transition-duration: .2s;
        
    }
    & .cacao_form:hover {
        padding: 1.5rem 0;
        border-radius: 2rem;
        font-size: 2rem;
    }

    & .cacao_form:focus {
        padding: 1.5rem 0;
        border-radius: 2rem;
        font-size: 2rem;
    }

    & .cacao_form {
        background-color: rgba(0, 0, 0, 0.644) !important;
        border: none;
        color: whitesmoke !important;
        text-align: center;
        text-transform: uppercase;

    }
}